/* font-family */
$sand: 'Raleway', sans-serif;

/* font-size */
$fsz12: 12px;
$fsz_def: 14px;
$fsz16: 16px;
$fsz18: 18px;
$fsz22: 22px;
$fsz30: 30px;
$fsz48: 48px;

/* font-weight */
$fw-l: 300;
$fw-reg: 400;
$fw-sb: 600;
$fw-b: 700;

/* text color */
$white: #FFFFFF;
$gr-blue: rgb(109, 134, 158);
$black: black;
$vlite-gr:rgb(187, 187, 187);

/* bg-color & border-clr */
$bg-dkblue: #2b3b48;
$bg-semi-dkblue: #435f75;
$gr-blue-op3: rgba(109, 134, 158, 0.3);
$bg-lite-dkblue: #bec7d1;
$bg-dk-sand: rgb(104, 100, 73);
$bg-sand:rgb(154, 149, 109);

$widthVisCont: 100%;